/SourceCode/API/Manager.WebApp/bin/
/SourceCode/API/Manager.WebApp/obj/
/SourceCode/API/Manager.WebApp/logs/
/SourceCode/API/.vs/
/SourceCode/API/Manager.SharedLibs/bin/
/SourceCode/API/Manager.SharedLibs/obj/
/SourceCode/API/Manager.Datalayer/bin/
/SourceCode/API/Manager.Datalayer/obj/

/SourceCode/Cloud/Manager.WebApp/bin/
/SourceCode/Cloud/Manager.WebApp/obj/
/SourceCode/Cloud/Manager.WebApp/logs/
/SourceCode/Cloud/.vs/
/SourceCode/Cloud/Manager.SharedLibs/bin/
/SourceCode/Cloud/Manager.SharedLibs/obj/
/SourceCode/Cloud/Manager.Datalayer/bin/
/SourceCode/Cloud/Manager.Datalayer/obj/
