/SourceCode/Manager/Manager.WebApp/bin/
/SourceCode/Manager/Manager.WebApp/obj/
/SourceCode/Manager/Manager.WebApp/logs/
/SourceCode/Manager/.vs/
/SourceCode/Manager/Manager.SharedLibs/bin/
/SourceCode/Manager/Manager.SharedLibs/obj/
/SourceCode/Manager/Manager.Datalayer/bin/
/SourceCode/Manager/Manager.Datalayer/obj/
