@using Manager.WebApp.Resources;
@using Newtonsoft.Json;
@using Manager.DataLayer.Entities.Business
@using Manager.SharedLibs;
@using Manager.WebApp.Helpers

@model Manager.WebApp.Models.WorkFlowViewModel

<div class="form-group row">
    <div class="col-md-12">
        <fieldset class="fieldset">
            <legend class="legend-ctrl">@Model.ModelWorkFlow.Name</legend>
            <div class="fieldset-content">
                <input id="template-workflow" type="hidden" value="@JsonConvert.SerializeObject(Model.ModelWorkFlow.Forms)" />
                <div id="formio-detail">
                </div>    
            </div>
        </fieldset>
    </div>
</div>

