@using System.Web;
@using Manager.WebApp.Helpers;
@{
    ViewData["Title"] = "Home Page";

    var rq = HttpContext.Current.Request.Query;
    var ck = HttpContext.Current.Request.Cookies["JZ-VSTK"];
    var user = HttpContext.Current.User;

    var id = user.GetLoggedInUserId<string>();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h3>RequestId: @ViewBag.RequestId</h3>
    <h3>Cookie: @ck</h3>
</div>
